[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
  tool = nvim
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
	verbose = true
[pull]
	rebase = true

[include]
	path = ./.gitconfig.local
[rebase]
	autosquash = true
	autoStash = true
[init]
	defaultBranch = main
