[user]
	name = Alex Piechowski
	email = alex@piechowski.io
[core]
	editor = vim
	excludesfile = /home/alex/.gitignore_global
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
        d = difftool
        co-pr = !sh -c 'git fetch upstream pull/$1/head:pr/$1 && git checkout pr/$1' -
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
