[user]
	name = Alex Piechowski
	email = alex@piechowski.io
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[merge]
  tool = nvim
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
	verbose = true
