Xft.dpi: 200
rofi.dpi: 250

! Fonts
URxvt.font: xft:Jetbrains Mono:size=11

/* URxvt.letterSpace: -1 */

URxvt.depth: 32
urxvt.scrollBar: false
urxvt.cursorBlink: true

! Misc
URxvt*loginShell: true

URxvt.iso14755: False

URxvt.keysym.Shift-Control-V: eval:paste_clipboard

URxvt.perl-ext-common: default,selection-to-clipboard,selection-autotransform
URxvt.selection-autotransform.0: s/ +$//gm

! double click selection delims
URxvt*cutchars: ()*,<>[]{}|`""'' 

! Dracula Pro Xresources palette
! ! special
*.foreground:   #f8f8f2
*.background:   #22212c
URxvt.background: [95]#22212c
*.cursorColor:  #f8f8f2

! black
*.color0:       #454158
*.color8:       #504c67

! red
*.color1:       #ff9580
*.color9:       #ffaa99

! green
*.color2:       #8aff80
*.color10:      #a2ff99

! yellow
*.color3:       #ffff80
*.color11:      #ffff99

! blue
*.color4:       #9580ff
*.color12:      #aa99ff

! magenta
*.color5:       #ff80bf
*.color13:      #ff99cc

! cyan
*.color6:       #80ffea
*.color14:      #99ffee

! white
*.color7:       #f8f8f2
*.color15:      #ffffff

